.noselect {
    -webkit-user-select: none;
}

.popover {
    position: absolute;
    top: -50px;
    display: inline-block;
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 10px black;
    user-select: none;
    white-space: nowrap;
}

.mtwSpeak {
    opacity: 0.7;
    position: absolute;
    top: 8px;
    right: 8px;
}

.mtwHovercardBelow {
    opacity: 0.7;
    margin-top: 5px;
    margin-right: 5px;
}

.mtwHovercardBelow:hover {
    opacity: 1.0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.hc-details {
    background-color: black;
}

.mtwSpeak:hover {
    opacity: 1.0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.anchor {
    position: relative;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}

span.mtwTranslatedWorde {
    font-style: inherit;
    color: rgba(86, 179, 90, 1.00);
    background-color: white;
}

span.mtwTranslatedWordn {
    font-style: inherit;
    color: rgba(164, 59, 64, 1.00);
    background-color: white;
}

span.mtwTranslatedWordh {
    font-style: inherit;
    color: rgba(209, 29, 29, 1.00);
    background-color: white;
}

.tags-rare {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #FFEBEE;
    border-radius:5px;
}

.tags-common {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #F1F8E9;
    border-radius:5px;
}

.tags-occasional {
    height:20px;
    top:10px;
    right:40px;
    position: absolute;
    border:2px solid #FFF8E1;
    border-radius:5px;
}

.countPage {
    font-size:8px;
}